body {
    background-color: rgb(32, 27, 23);
    height: 3500px;
}

.main-body {
    display: flex;
    flex-direction: row;
}

.hello-card {
    display: flex;
    background-color: rgb(39, 33, 28);
    height: 62.5rem; 
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.picture-of-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.profile-picture {
    width: 25rem;
    height: 25rem;
    transition: margin-right 1s;
}

.picture-start {
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

.picture-of-me:hover .picture-start{
    transform: translateX(-4rem);
}

.picture-end {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    height: 15.625rem;
    justify-content: space-between;
    margin-left: 15.625rem;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.picture-of-me:hover .picture-end {
    transform: translateX(80px);
    opacity: 1;
}

.instagram-icon {
    background-color: transparent;
    width: 3.438rem;
    transition: transform 0.1s;
}

.instagram-icon:hover {
    transform: scale(1.05);
}

.instagram-icon:active {
    transform: scale(0.95);
}

.linkedin-icon {
    width: 4.063rem;
    transition: transform 0.2s ease-in-out;
}

.linkedin-icon:hover {
    transform: scale(1.05);
}

.linkedin-icon:active {
    transform: scale(0.95);
}

.github-icon {
    width: 3.438rem;
    transition: transform 0.2s;
}

.github-icon:hover {
    transform: scale(1.05);
}

.github-icon:active {
    transform: scale(0.95);
    
}

.hello-bio {
    flex: 1;
}

.hello-start {
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.hello-end {
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.hello {
    color: rgb(180, 96, 96);
    font-size: 6.25rem;
    height: 6.875rem;
    font-weight: bold;
}

.introduction {
    color: rgb(255, 191, 155);
    font-size: 3.125rem;
    font-weight: bold;
    padding-left: 0.25rem;
}

.title {
    color: rgb(255, 191, 155);
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px; 
}

.statement {
    z-index: 0;
    color: transparent;
    font-size: 1.5625rem;
    width: 31.25rem;
    padding-left: 0.3125rem;
    transition: color 0.5s ease-in-out;
}

.hello-bio:hover .hello-start{
    transform: translateY(-3.125rem);
}

.hello-bio:hover .hello-end{
    transform: translateY(0.7rem);
}

.hello-bio:hover .statement{
    color: rgb(255, 244, 224);
}

@media only screen and (max-width: 1200px) {
    .hello-card {
        height: 70rem; 
    }

    .profile-picture {
        width: 23rem;
        height: 23rem;
        transition: margin-right 1s;
    }

    .picture-of-me:hover .picture-end {
        transform: translateX(60px);
        opacity: 1;
    }

    .picture-of-me:hover .picture-start{
        transform: translateX(-2.4rem);
    }
}