.contact-card {
  display: flex;
  flex-direction: column;
  height: 920px;
  background-color: rgb(39, 33, 28);
  transform: translateY(-100px);
}

.c-title {
  color: rgb(180, 96, 96);
  font-weight: bold;
  font-size: 100px;
  padding-top: 40px;
  text-align: center;
}

.contact-div1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: rgb(32, 27, 23);
  border-radius: 10px;
  margin-right: 35px;
}

.social-media {
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts {
  flex: 1;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  vertical-align: middle;
}

.social-class {
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(255, 244, 224);
}

.contact-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: rgb(32, 27, 23);
  border-radius: 10px;
  margin-left: 35px;
}

.contact-section-header {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-section-header-p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(252, 177, 133);
}

.contact-inputs {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

::placeholder {
  color: rgb(255, 244, 224);
}

.input-name[type='text'] {
  color: rgb(255, 244, 224);
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(39, 33, 28);
  width: 300px;
  padding-left: 10px;
  margin-bottom: 20px;
  height: 40px;
}

.input-email[type='text'] {
  color: rgb(255, 244, 224);
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(39, 33, 28);
  width: 300px;
  padding-left: 10px;
  margin-bottom: 20px;
  height: 40px;
}

.input-message[type='text'] {
  color: rgb(255, 244, 224);
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(39, 33, 28);
  width: 300px;
  line-height: 30px;
  padding-left: 10px;
  padding-bottom: 180px;
  margin-bottom: 20px;
}

.send-button {
  margin-top: 10px;
  font-weight: bold;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  border: none;
  background-color: rgb(252, 177, 133);
  transition: background-color 0.1s ease-in-out;
}

.send-button:hover {
  background-color: rgb(180, 96, 96);
}

.send-button:active {
  background-color: rgb(255, 244, 224);
}