.header {
    display: flex;
    position: fixed;
    background-color: rgb(39, 33, 28);
    right: 0;
    left: 0;
    top: 0;
    height: 3.125rem;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

.name-card {
    flex: 1;
    display: flex;
    height: 4.375rem;
    max-width: 15.625rem;
    align-items: center;
    justify-content: space-between;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
}

.name {
    font-size: 1.5625rem;
    color: rgb(180, 96, 96);
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
}

.name:hover {
    color: rgb(255, 191, 155);
}

.name:active {
    transform: scale(0.95);
    color: rgb(255, 244, 224);
}

.nav {
    width: 300px;
    display: flex;
    height: 4.375rem;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
}

.header-title {
    color: rgb(255, 191, 155);
    font-weight: 500;
    font-size: 1.25rem;
    transition: color 0.3s;
    cursor: pointer;
}

.header-title:hover {
    color: rgb(180, 96, 96);
}

.header-title:active {
    transform: scale(0.95);
    color: rgb(255, 244, 224);
}