.project-card {
  display: flex;
  background-color: rgb(32, 27, 23);
  height: 1700px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  transform: translateY(-100px);
}

.project-header {
  color: rgb(180, 96, 96);
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

/*tabs*/
.tabContainer {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  height: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  vertical-align: middle;
}

.buttonContainer .tab-btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'proxima-nova', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 191, 155);
  border-radius: 15px;
  transition: 
  transform 0.2s ease-in-out;
}

.tabContainer .buttonContainer button{
  width: 20%;
  height: 100%;
  padding: 10px;
}

.tab-btn:hover {
  transform: scale(1.04);
}

.buttonContainer .tab-btn.active-tab {
  background-color: rgb(247, 168, 123);
}

.tabPanel {
  display: none;
}

.tabPanel.active-tab {
  display: block;
}

/*projects*/
.project-div1 {
  display: flex;
  background-color: rgb(39, 33, 28);
  width: 1000px;
  height: 1250px;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 60px;
  transform: translateY(-50px);
}

.proj-front {
  left: 0;
  position: fixed;
  height: 200px;
  width: 200px;
}

.web-projects {
  display: flex;
  width: 1000px;
  height: 450px;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.soft-projects {
  display: flex;
  width: 1000px;
  height: 600px;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.hard-projects {
  display: flex;
  width: 1000px;
  height: 150px;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.project {
  margin-left: 30px;
  display: flex;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(255, 244, 224);
  justify-content: space-between;
  flex-direction: row;
  vertical-align: bottom;
  position: relative;
  transition: 
  transform 0.2s ease-in-out;
  cursor: pointer;
}

.project:hover {
  transform: scale(1.02);
}

.project:active {
  transform: scale(0.99);
}

.active-project {
  box-shadow: 0 3px 15px rgb(141, 141, 141);
}

.project-info {
  pointer-events: none;
  flex: 1;
  padding-left: 20px;
  padding-top: 10px;
  text-align: left;
}

.project-title {
  color: rgb(180, 96, 96);
  font-weight: bold;
  font-size: 1.5625rem;
}

.project-title:hover {
  transform: none;
}

.project-description {
  color: rgb(252, 177, 133);
  font-weight: bold;
}

.project-description:hover {
  transform: none;
}

.project-link {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.fa-square-github {
  transform: scale(1.7);
}

.project-images {
  width: 400px;
}

.project-image {
  display: block;
  align-items: center;
  position: fixed;
  right: 30px;
  width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgb(32, 27, 23);
  border-radius: 10px;
  transition: height 0.5s, opacity 0.5s;
  transition-delay: 0.1s;
  opacity: 0;
}

.project-video {
  width: 240px;
  height: 240px;
  border-radius: 30px;
  transition: 
  transform 0.2s ease-in-out;
}

.project-video:hover {
  transform: scale(1.2);
}

.image-div {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.project-in-description {
  color: rgb(252, 177, 133);
  font-weight: bold;
  width: 300px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.p-image {
  display: fixed;
  border-radius: 10px;
  width: 300px;
  transition: transform 0.2s ease-in-out;
}

.p-image:hover {
  transform: scale(1.4);
}

.active{
  z-index: 10;
  display: block;
  opacity: 1;
}

.project:hover .project-image{
  margin: 0;
  width: 400px;
  height: 600px;
}

.proj-1 {
  height: 690px;
}

.proji-1 {
  height: 550px;
}

.proj-2 {
  height: 570px;
  justify-content: space-between;
}

.proji-3 {
  height: 400px;
  justify-content: space-between;
}

.proji-4 {
  height: 350px; 
  justify-content: space-between;
}

.proji-5 {
  height: 370px;
  justify-content: space-between;
}

.proji-6 {
  height: 560px;
  justify-content: space-between;
}

.proji-7 {
  height: 700px;
  justify-content: space-between;
}

.proji-8 {
  height: 650px;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .project-card {
    height: 1200px;
    margin-top: 5rem;
  }
}

